/* Give your page a fun background color */
body {
    background-color: blueviolet;
    font-family: fantasy;
}

/* Make the header and footer a different color from the background */
header {
    background-color: cadetblue;
    text-align: center;
}
footer {
    background-color: red;
    color: white;
    font-style: italic;
}
img {
    border-style: dashed;
    border-width: 5px;
    color: black;
    
}






/* Change the font-family of your list */